@import "../../main-styles.scss";

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  border-top-width: 240px;
  border-top-style: solid;
  border-bottom-width: 240px;
  border-bottom-style: solid;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 680px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.home-selected-container {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  padding: 40px;
  border-radius: 8px;
  width: 60%;
  border-style: solid;
}

// Title
.title {
  font-family: "Lato";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


// Each input field surrounded by div
.form-group {
  display: flex;
  flex-direction: column;
  // margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 1;

  label {
    display: inline-block;
    //align-items: center;
    border-radius: 5px;
    font-weight: 700;
    width: 100%;
    color: #5f5f5f;

    &:hover {
      //box-shadow: 0 0 0 5px #eeeeee;
      transition: box-shadow 0.2s ease, transform 0.2s ease;
      transform: scale(0.95);
    }
  }
}

// Each input field
.form-control {
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 2px;

  &:focus {
    transform: scale(0.95);
    background-color: #d9e8ff;
  }

  &:hover {
    // box-shadow: 0 0 0 5px #eeeeee;
    transform: scale(0.95);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
}

// Errors that show up when field is incomplete
.help-block {
    color:  #ff0000;
}

// Login Button 
.button {
  margin-right: 200px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 5px;

  &:hover {
    box-shadow: 0 0 0 2px #b3d1ff;
    transform: scale(1.05);
  }
}

// Cancel Link
.btn-link {
  color: $primary;
  margin-top: 5px;

  &:hover {
    color: #f10505;
    font-weight: 700;
    transform: scale(1.05);
    margin-left: 10px;
  }
}
